streamlit

langchain
langchain-community
langchain-core
langchain-text-splitters
langchain-groq
langchain-huggingface

faiss-cpu
pymupdf
pytesseract
pillow

python-dotenv
groq
sentence-transformers
transformers

pymongo
bcrypt
pyjwt
dnspython